* {
    font-family: "Lemon", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root.dark {
    --nav-color: black;
    --text-color: white;
    --card-color-one: rgb(22, 22, 22);
    --card-color-two: rgb(32, 32, 32);
    --box-shadow-one: rgba(8,8,8,1);
    --box-shadow-two: rgba(28,28,28,1);
}

:root.light {
    --nav-color: white;
    --text-color: black;
    --card-color-one: rgb(221, 221, 221);
    --card-color-two: rgb(236, 236, 236);
    --box-shadow-one: rgba(214,214,214,1);
    --box-shadow-two: rgba(255,255,255,1);
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: var(--nav-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.logo > i {
    font-size: 30px;
    margin-left: 30px;
    cursor: pointer;
}


.container {
    overflow: auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.logoImage {
    width: 50px;
    height: 50px;
}

#moon {
    display: none;
}

a, a:visited {
    text-decoration: none;
    color: var(--text-color);
}

.navLink:hover {
    text-decoration: underline;
}

.sectionList {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

section {
    width: 100%;
    height: 800px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

p {
    width: 300px;
}

.card {
    width: 1200px;
    display: flex;
    border-radius: 15px;
    padding: 40px 0px 40px;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.one {
    background-color: var(--card-color-one);
    -webkit-box-shadow: 0px 0px 22px 4px var(--box-shadow-one);
    -moz-box-shadow: 0px 0px 22px 4px var(--box-shadow-one);
    box-shadow: 0px 0px 22px 4px var(--box-shadow-one);
}

.two {
    background-color: var(--card-color-two);
    -webkit-box-shadow: 0px 0px 22px 4px var(--box-shadow-two);
    -moz-box-shadow: 0px 0px 22px 4px var(--box-shadow-two);
    box-shadow: 0px 0px 22px 4px var(--box-shadow-two);
}

.bitmojiImg {
    width: 400px;
    height: 400px;
}

.textCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: large;
}

.textCard > span {
    margin-bottom: 10px;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 70px;
    height: 70px;
}

.githubImg {
    height: 400px;
    width: 600px;
    border-radius: 15px;
    cursor: pointer;
}

#welcome, #projects {
    background-color: var(--card-color-two)
}

#about, #contact {
    background-color: var(--card-color-one);
}